.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.5),rgba(8,0,58,0.5)), url('../../assets/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #f5f5f5;
    display: flex;
    justify-content: left;
    align-items: center;
}

.hero-text {
    text-align: left;
    max-width: 700px;
    font-size: 1.6rem;
}

.hero-text p {
    margin:20px 0px;
    line-height: 1.3;
}

.dark-arrow {
    width: 30px;
    margin-left: 8px;
}