@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

nav {
    width: 100%;
    color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

ul {
    list-style-type: none; 
    display: flex; 
    align-items: center;
    gap: 25px; 
}

li {
    font-family: "Bebas Neue", sans-serif !important;
    font-size: 1.6rem; 
    cursor: pointer;
}

.logo {
    width: 80px;
}

.dark-nav {
    background-color: #e97451;
    animation: backgroundFade 3s forwards;
}

@keyframes backgroundFade {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: #e97451;
    }
}