.footer {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(8, 0, 58, 0.4);
    padding: 15px 0;
}

.footer li {
    font-size: 1rem;
}

/*--------media query---------*/

@media (max-width: 600px) {

    .footer {
        flex-direction: column;
    }

    .footer p, footer span{
        font-size:14px;
    }

    .footer li {
        margin: 5px;
    }
}
