.showcase {
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.gallery img {
    width: 23%;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}

/*--------media query---------*/

@media (max-width: 800px) {

    .showcase {
        margin: 50px auto;
    }

    .gallery {
        flex-wrap: wrap;
    }

    .gallery img {
        width: 48%;
        margin-top: 20px;
    }
}
